header {
	position: fixed;
	left: 0;
	right: 0;
	top: calc( 0px + var(--wp-admin--admin-bar--height, 0px) );
	z-index: 9999;
}
footer a:where(:not(.wp-element-button)) {
	opacity: 0.5;
}
footer a:where(:not(.wp-element-button)):where(:hover, :focus) {
	opacity: 1;
}