.wp-block-post-date {
	position: relative;
}
.wp-block-post-date:not(.is-style-icon-section) {
	display: flex;
	align-items: center;
	gap: 5px;
}
.wp-block-post-date time {
	flex-grow: 1;
}
.wp-block-post-date::before {
	--icon-size: 17px !important;
	mask-image: url( '../icons/calendar.svg' );
}

/* body.single-post article .wp-block-post-date::before {
	display: none;
} */