/* body.has-featured-image header .wp-block-navigation__responsive-container-open svg {
	fill: var(--wp--preset--color--black);
} */

.wp-block-navigation__responsive-container.has-modal-open.is-menu-open.has-base-background-color {
	backdrop-filter: var(--wp--custom--core-navigation--modal--filter);
	-webkit-backdrop-filter: var(--wp--custom--core-navigation--modal--filter);
	background-color: transparent !important;
}
.wp-block-navigation__responsive-container.has-modal-open.is-menu-open.has-base-background-color {
	padding: 0;
}
.wp-block-navigation__responsive-container.has-modal-open.is-menu-open.has-base-background-color .wp-block-navigation__responsive-close {
	padding-left: var(--wp--style--root--padding-left);
	padding-right: var(--wp--style--root--padding-right);
	padding-top: var(--wp--preset--spacing--90);
	padding-bottom: var(--wp--preset--spacing--90);
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.wp-block-navigation__responsive-container.has-modal-open.is-menu-open.has-base-background-color .wp-block-navigation__responsive-close::before {
	background-color: var(--wp--custom--core-navigation--modal--color--background);
	position: absolute;
	inset: 0px;
	offset: 0px;
	content: "";
	opacity: var(--wp--custom--core-navigation--modal--opacity);
}
/* is-modal-open is-menu-open */