<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|90"}},"layout":{"type":"constrained","contentSize":"53.125rem"},"metadata":{"name":"Main"}} -->
<main class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"1.25rem"}},"layout":{"type":"default"},"metadata":{"name":"Masthead"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}},"border":{"radius":"2.5rem","color":"#ffffff00","style":"solid","width":"1px"}},"className":"is-style-highlight-border","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-highlight-border has-border-color" style="border-color:#ffffff00;border-style:solid;border-width:1px;border-radius:2.5rem;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:heading {"textAlign":"center","level":1,"fontSize":"90"} -->
<h1 class="wp-block-heading has-text-align-center has-90-font-size">Latest Posts</h1>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"glisten/query-post-grid"} /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"tagName":"footer","layout":{"type":"constrained","contentSize":"53.125rem"},"metadata":{"name":"Footer"}} -->
<footer class="wp-block-group"><!-- wp:template-part {"slug":"footer","theme":"glisten","tagName":"div"} /--></footer>
<!-- /wp:group -->