<!-- wp:template-part {"slug":"header","theme":"glisten","tagName":"header"} /-->

<!-- wp:group {"tagName":"article","metadata":{"name":"Article"},"style":{"spacing":{"blockGap":"var:preset|spacing|90"}},"layout":{"type":"default"}} -->
<article class="wp-block-group"><!-- wp:group {"metadata":{"name":"Featured Image"},"align":"full","style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"bottom":"var:preset|spacing|90"}}},"className":"featured-image-container","layout":{"type":"default"}} -->
	<div class="wp-block-group alignfull featured-image-container" style="margin-bottom:var(--wp--preset--spacing--90);padding-right:0;padding-left:0"><!-- wp:post-featured-image {"align":"full","style":{"spacing":{"padding":{"right":"0","left":"0"}}}} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"metadata":{"name":"Post Info"},"style":{"spacing":{"blockGap":"var:preset|spacing|25","margin":{"top":"0","bottom":"var:preset|spacing|90"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--90)"><!-- wp:post-date {"className":"is-style-text-action opacity-50 is-style-icon-section"} /-->
	
	<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"top":"var:preset|spacing|06"}}},"fontSize":"90"} /-->
	
	<!-- wp:post-excerpt {"className":"is-style-text-half-important opacity-50"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></article>
	<!-- /wp:group -->
	
	<!-- wp:group {"metadata":{"name":"Meta"},"style":{"spacing":{"blockGap":"var:preset|spacing|25","margin":{"top":"var:preset|spacing|90","bottom":"var:preset|spacing|90"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--90);margin-bottom:var(--wp--preset--spacing--90)"><!-- wp:post-terms {"term":"category","className":"is-style-text-half-important opacity-50 is-style-icon-section"} /-->
	
	<!-- wp:post-terms {"term":"post_tag","className":"is-style-text-half-important opacity-50 is-style-icon-section"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"metadata":{"name":"Comments"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:comments {"style":{"spacing":{"margin":{"top":"var:preset|spacing|90","bottom":"var:preset|spacing|90"}}}} -->
	<div class="wp-block-comments" style="margin-top:var(--wp--preset--spacing--90);margin-bottom:var(--wp--preset--spacing--90)"><!-- wp:comments-title {"style":{"spacing":{"margin":{"top":"var:preset|spacing|25","bottom":"var:preset|spacing|25"}}}} /-->
	
	<!-- wp:comment-template {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|90"}}}} -->
	<!-- wp:columns -->
	<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
	<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
	<!-- /wp:column -->
	
	<!-- wp:column -->
	<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->
	
	<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
	<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->
	
	<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:comment-content /-->
	
	<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->
	<!-- /wp:comment-template -->
	
	<!-- wp:comments-pagination -->
	<!-- wp:comments-pagination-previous /-->
	
	<!-- wp:comments-pagination-numbers /-->
	
	<!-- wp:comments-pagination-next /-->
	<!-- /wp:comments-pagination -->
	
	<!-- wp:post-comments-form {"className":"is-style-icon-section"} /--></div>
	<!-- /wp:comments --></div>
	<!-- /wp:group -->

<!-- wp:group {"tagName":"footer","metadata":{"name":"Footer"},"layout":{"type":"constrained"}} -->
<footer class="wp-block-group"><!-- wp:template-part {"slug":"footer","theme":"glisten","tagName":"div"} /--></footer>
<!-- /wp:group -->